.gallery-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;

    width: 100vmin;

    margin: 0;
    margin-bottom: 10vh;
    padding: 5vw;
    
    overflow-x: auto;

    border: 1px solid white;
    background-color: rgba(255, 225, 255, 0.3);
}

::-webkit-scrollbar{
    display: none;
}
